<?xml version="1.0"?>
<launch> 

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_mapping)/launch/aruco_config.rviz" />
    
  <!-- ArUco mapping -->
  <node pkg="aruco_mapping" type="aruco_mapping" name="aruco_mapping" output="screen">
    <remap from="/image_raw" to="/skyviper/camera"/>
    <!--<remap from="/global_pose" to="/mavros/vision_pose/pose"/>-->
    <param name="calibration_file" type="string" value="$(find aruco_mapping)/data/sv_rafale.ini" /> 
    <param name="num_of_markers" type="int" value="5" />
    <param name="marker_size" type="double" value="0.4572"/>
    <param name="space_type" type="string" value="plane" />
    <param name="roi_allowed" type="bool" value="false" />
    <param name="roi_x" type="int" value="0" /> 
    <param name="roi_y" type="int" value="0" /> 
    <param name="roi_width" type="int" value="1280" /> 
    <param name="roi_height" type="int" value="720" /> 

  </node>  

  <node pkg="kalmanfilter" type="kalmanfilter_node" name="kalmanfilter_node" output="screen">
  </node>  

</launch>
