<launch>
    <param name="config_file" value="/home/usl/catkin_ws/src/pose_publisher/data/cam_sv.yaml" /> 
    <node name="pose_publisher" pkg="pose_publisher" type="pose_publisher_node" output="screen">
    </node>
    <node name="local_position_publisher" pkg="local_position_publisher"      type="local_position_publisher_node" output="screen">
    </node>
</launch>
